* {
box-sizing: border-box;

}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

header {

    background-color: aqua;
}

body {
  margin: 0;
}

nav {
display: flex;
justify-content: space-between;
align-items: left;
gap: 2rem;
padding: 0 1rem;
}

ul {
padding: 0;
margin: 0;
list-style: none;
display: flex;
gap: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  background-color: white;
}

p, h1, h2, a {
  font-family: Arial, Helvetica, sans-serif;
}